label for="title" Title:
input#title type="text" name="song[title]" value="#{@song.title}"
label for="length" Length:
input#length type="number" name="song[length]" value="#{@song.lengt
↵h}"
label for="released_on" Date(mm/dd/yyyy):
input#released_on type="text" name="so
↵ng[released_on]" value="#{@song.released_on.strftime("%m/%d/%Y") i
↵f @song.released_on}"
label for="lyrics" Lyrics:
textarea#lyrics name="song[lyrics]" == @song.lyrics
input type="submit" value="Save Song”